node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
abi
cache
artifacts

# Router Proxy files
deployments/local
deployments/cannon
deployments/hardhat
contracts/routers
contracts/Router.sol
test/generated
contracts/generated

# Foundry - Compiler files
forge-cache/
out/
docs/

# Foundry - Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# VS Code
.vscode